:root {
    --main-gray-color: #f5f5f5;
    --main-blue-color: #0b1247;
    --main-blue-color-alpha-8: rgba(11, 18, 71, 0.8);
    --green-btn: #26a65b;
}

.full-width {
    width: 100%;
}
.no-side-paddings {
    padding-left: 0px;
    padding-right: 0px;
}
a {
    text-decoration: none !important;
}
input {
    outline: none !important;
}
body {
    background-color: var(--main-gray-color);
}
img {
    max-width: 100%;
}
/*header styles begins*/
.header-outer-block {
    background-color: var(--main-blue-color);
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 999;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.header-inner-block {
    display: block;
}
img.logo-img {
    max-width: 100%;
    width: 56px;
}
.logo-img-block, .logo-text-block {
    display: inline-block;
    float: left;
}
.logo-block {
    position: relative;
    margin-right: 30px;
    top: 11px;
}
.logo-name, .logo-tagline {
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    line-height: 22px;
}
.logo-name {
    font-size: 26px;
    font-weight: 300;
}
.logo-tagline {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.25px;
}
a.logo-link {
    display: inline-block;
}
.logo-img-block {
    margin-right: 10px;
}
.logo-block, .top-search-block {
    display: inline-block;
    float: left;
}

.top-search-block {
    background-color: #1b2258;
    position: relative;
}
input.top-search-field {
    background: none;
    border: none;
    display: block;
    padding: 20px 60px 20px 20px;
    color: #868aa6;
    width: 300px;
    outline: none !important;
}
input.top-search-field::placeholder {
    color: #868aa6;
}
a.top-search-button {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 24px;
    color: #8e91ac;
}

.header-right-content-block {
    display: inline-block;
    float: right;
    position: relative;
    top: 11px;
}
a.access-btn {
    color: #ffffff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    display: inline-block;
}
.login {
    border: 1px solid #fff;
    padding: 10px 10px 8px 10px;
    margin-left: 15px;
}
/*header styles ends*/

/*banner styles begins*/
.banner-block {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.banner-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-gradient {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 70%;
    background: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1));
}
.banner-content-block {
    background-color: rgba(255,255,255,0);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.banner-content-area {
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    min-height: 300px;
    /*height: 350px;*/
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 30px 0px 35px 0px;
    transition: 1s;
    min-height: 420px;
}
.banner-dynamic-content-block {
    width: 600px;
    transition: 1s;
}
h1.banner-heading {
    font-family: 'El Messiri', sans-serif;
    text-align: center;
    color: var(--main-blue-color);
    font-size: 32px;
    letter-spacing: 1px;
}
span.line-breaker {
    display: block;
}
/*banner styles ends*/

.banner-main-direct-button-block {
    text-align: center;
    display: block;
    margin-top: 30px;
}
.button-container-inline {
    display: inline-block;
}

.main-btn {
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    margin: 0px 2px;
    text-align: center;
    transition: 0.3s;
}
.main-btn:hover,
.main-btn:active,
.main-btn:focus {
    color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    transition: 0.3s;
}
.main-btn > i {
    margin-right: 5px;
    display: inline-block;
}

.green-btn {
    background-color: var(--green-btn);
}
.green-btn:hover,
.green-btn:active,
.green-btn:focus {
    background-color: #32bc6b;
}

/*material button medium beings*/
.material-btn-click-md {
    position: relative;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}
.material-btn-click-md::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    background: rgba(255,255,255,0.5);
    transform-origin: center left;
    transform: scale(0) translateX(-50%);
    border-radius: 50%;
}
.material-btn-click-md.after::after {
    animation: expandMedium 1s ease;
}
.material-btn-click-md:hover {
    cursor: pointer;
}
@keyframes expandMedium {
    0%{
        opacity: 1;
        transform: scale(0) translateX(-50%);
    }
    100%{
        opacity: 0;
        transform: scale(4) translateX(-50%);
    }
}
/*material button medium ends*/

/*material button large beings*/
.material-btn-click-lg {
    position: relative;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}
.material-btn-click-lg::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,0.5);
    transform-origin: center left;
    transform: scale(0) translateX(-50%);
    border-radius: 50%;
}
.material-btn-click-lg.after::after {
    animation: expandLarge 1.5s ease;
}
.material-btn-click-lg:hover {
    cursor: pointer;
}
@keyframes expandLarge {
    0%{
        opacity: 1;
        transform: scale(0) translateX(-50%);
    }
    100%{
        opacity: 0;
        transform: scale(4) translateX(-50%);
    }
}
/*material button large ends*/


/*social login buttons begins*/
.fb-login-btn {
    background-color: #3b5998;
}
.fb-login-btn:hover,
.fb-login-btn:active,
.fb-login-btn:focus {
    background-color: #4463a4;
}
.google-login-btn {
    background-color: #d34836;
}
.google-login-btn:hover,
.google-login-btn:active,
.google-login-btn:focus {
    background-color: #e05544;
}
.fb-login-btn,
.google-login-btn {
    margin-bottom: 10px;
}
/*social login buttons ends*/

h3.banner-form-title {
    color: var(--main-blue-color);
    display: block;
    border-bottom: 1px solid var(--main-blue-color);
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
}
hr.login-separator {
    border-top: 1px solid #494e78;
    margin: 0px;
    width: 45%;
    position: relative;
    top: 10px;
}
hr.login-separator, span.login-separator-text {
    display: inline-block;
    float: left;
}
span.login-separator-text {
    width: 10%;
    text-align: center;
}
.banner-form-block {
    width: 300px;
    text-align: center;
    margin: auto;
    display: block;
    position: relative;
}
.login-separator-block {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.input-field {
    display: block;
    padding: 10px 20px;
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    margin: 0px 0px 10px 0px;
    border: none;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.input-field::placeholder {
    color: #666;
}
.login-additional-block {
    display: flex;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    justify-content: space-between;
    padding: 10px 0px 0px 0px;
}
.login-additional-block > a {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #777;
}
.red-btn {
    background-color: #f44336;
}
.red-btn:hover,
.red-btn:active,
.red-btn:focus {
    background-color: #fa4e42;
}

.ui-checkbox {
    display: none;
}
.ui-checkbox + label {
    position: relative;
    padding-left: 25px;
    display: inline-block;
    font-size: 12px;
}
.ui-checkbox + label:before {
    border: 1px solid #283074;
    padding: 10px;
    border-radius: 0px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}
.ui-checkbox:checked + label:before {
    border: 1px solid #283074;
    color: #aaa;
}
.ui-checkbox.no-border:checked + label:before {
    border-color: transparent;
}
.ui-checkbox:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 1px;
    left: 5px;
    color: #283074;
}
.ui-checkbox.green-tick:checked + label:after {
    color: #8cc63f;
}
.button-container-stack > label {
    width: 100%;
    margin-bottom: 10px;
}
.button-container-stack > label > span {
    text-align: right;
    float: right;
    color: #283074;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    top: 2px;
}
.button-container-stack > label > span > a {
    color: var(--main-blue-color);
    font-style: italic;
    text-decoration: underline !important;
}

.white-box {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    margin-bottom: 40px;
}
.box-title-bar {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding: 0px 15px;
    border-bottom: 1px solid #8588a3;
    height: 53px;
    margin-bottom: 20px;
}
.box-title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
    color: var(--main-blue-color);
}
.box-button-container {
    background-color: var(--main-blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    color: #fff;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
.box-button-container:hover {
    cursor: pointer;
}


/*top categories begins*/
.item-holder {
    position: relative;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
    border: 2px solid #fff;
    transition: 0.3s;
}
.top-category-title {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px;
    color: #fff;
    font-weight: 300;
}
.top-category-title-block {
    background-color: var(--main-blue-color-alpha-8);
    display: block;
    padding: 20px;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}
.category-item-count-block {
    font-style: italic;
    color: #ccc;
}
.item-img-block {
    height: 130px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.perspective-item {
    -webkit-perspective: 100vw;
    perspective: 100vw;
}
.rotate-item {
    transition: 0.3s;
}
.box-loop-item {
    margin-bottom: 20px;
}
.box-loop-item:nth-child(4n-3) .rotate-item {
    transform: rotateY(20deg) scale(1);
}
.box-loop-item:nth-child(4n-2) .rotate-item {
    transform: rotateY(0deg) scale(0.95);
}
.box-loop-item:nth-child(4n-1) .rotate-item {
    transform: rotateY(0deg) scale(0.95);
}
.box-loop-item:nth-child(4n-0) .rotate-item {
    transform: rotateY(-20deg) scale(1);
}

.box-loop-item:hover {
    cursor: pointer;
}
.box-loop-item:hover .rotate-item {
    transform: rotateY(0deg) scale(1);
    transition: 0.3s;
}
.box-loop-item:hover .item-holder {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,1);
    transition: 0.3s;
}
.view-all-holder {
    text-align: center;
    border-top: 1px solid #8588a3;
}
.view-all-block a {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #8588a3;
    font-weight: 400;
    display: block;
    padding: 15px 0px;
}
.view-all-block a i {
    margin-left: 5px;
}
/*top categories ends*/

/*home services begins*/
.top-services-title-block {
    background-color: rgba(255,255,255,0.8);
    display: block;
    padding: 0px 6px;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 42px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.freelancer-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.freelancer-img-block, .freelancer-title-block {
    display: inline-block;
}
.freelancer-name {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0px;
    color: var(--main-blue-color);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
}
.freelancer-title {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    margin: 0px;
    color: #8588a3;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    line-height: 1.5;
}
.freelancer-img-block {
    margin-right: 10px;
}
.freelancer-title-block {
    position: relative;
    top: -2px;
}
.item-img-block.services {
    height: 150px;
}

.service-details-block {
    background-color: rgba(255,255,255,0.8);
    display: block;
    padding: 5px 6px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
}
h5.service-descrition {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0px;
    color: var(--main-blue-color);
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}
span.service-price-block {
    display: block;
}
img.rate-icon {
    width: 16px;
}
.service-rate-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
span.rate-value {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0px;
    color: var(--main-blue-color);
    font-weight: 300;
    line-height: 1.2;
    margin-left: 5px;
    position: relative;
    top: 2px;
    text-align: right;
}
/*home service ends*/

/*top freelancers begings*/
.home-freelancer-block .freelancer-img {
    width: 42px;
    height: 42px;
}
.home-freelancer-block {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #8588a3;
    padding-bottom: 10px;
    transform: scale(1);
    transition: 0.3s;
}
.home-freelancer-block:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
.home-freelancer-block .freelancer-name {
    font-size: 12px;
    line-height: 1.5;
}
.home-freelancer-block .freelancer-block {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
}
.home-freelancer-block .service-rate-container {
    position: absolute;
    top: 4px;
    right: 0px;
}
/*top freelancers ends*/

.banner-content-container.init {
    position: relative;
    left: 50vw;
    opacity: 0;
    transition: 1s;
}
.banner-content-container.init.come-init {
    left: 0vw;
    opacity: 1;
    transition: 1s;
}
.banner-content-container.init.come-init.go-init {
    left: -50vw;
    opacity: 0;
    transition: 1s;
}
.banner-content-container.login-block {
    position: relative;
    left: 50vw;
    opacity: 0;
    transition: 1s;
}
.banner-content-container.login-block.come-login {
    left: 0vw;
    opacity: 1;
    transition: 1s;
}
.banner-content-container.login-block.come-login.go-login {
    left: -50vw;
    opacity: 0;
    transition: 1s;
}
.banner-content-container.register-block {
    position: relative;
    left: 50vw;
    opacity: 0;
    transition: 1s;
}
.banner-content-container.register-block.come-register {
    left: 0vw;
    opacity: 1;
    transition: 1s;
}
.banner-content-container.register-block.go-register {
    left: -50vw;
    opacity: 0;
    transition: 1s;
}
.back-to-init-block {
    position: absolute;
    top: 2px;
    left: 0px;
}
.back-to-init-block a {
    color: var(--main-blue-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.freelancer-block.current-user:hover {
    cursor: pointer;
}
.freelancer-block.current-user .freelancer-name,
.freelancer-block.current-user .freelancer-title {
    color: #fff;
    font-weight: 100;
}
.freelancer-block.current-user .freelancer-name {
    font-size: 12px;
}
.freelancer-block.current-user .freelancer-title {
    font-style: normal;
    font-size: 10px;
}   
.freelancer-block.current-user .freelancer-img {
    width: 40px;
    height: 40px;
    border: 2px solid var(--main-gray-color);
}
.freelancer-block.current-user .freelancer-title-block {
    top: -8px;
}
.freelancer-block.current-user .freelancer-img-block {
    margin-right: 5px;
}

.user-more-click-block {
    display: inline-block;
    float: right;
}
.user-more-click-block {
    display: inline-block;
    float: right;
    color: #fff;
    padding: 0px 0px 0px 10px;
    position: relative;
    top: 2px;
    font-size: 16px;
}
.user-more-click-block:hover {
    cursor: pointer;
}

.header-controllers-block, .freelancer-block.current-user {
    display: inline-block;
    float: left;
}
.header-controllers-block {
    position: relative;
    top: 2px;
    right: 20px;
}
.header-controllers-block > div {
    display: inline-block;
    position: relative;
    padding: 0px 10px;
    transition: 0.3s;
}
.header-controllers-block > div:hover {
    cursor: pointer;
    /*transform: scale(1.1);*/
    transition: 0.3s;
}
.header-controllers-block > div i {
    color: #8689a4;
    font-size: 28px;
    position: relative;
    top: 5px;
    transition: 0.3s;
}
.requests-count-block, .chats-count-block, .notifications-count-block {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #fff;
    background-color: #e53935;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

/*profile begins*/
.profile_container {
    position: relative;
    top: 100px;
}
.profile_banner {
    height: 455px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}
.banner-user-status {
    background-color: #192279;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
ul.banner-user-status-holder {
    color: #fff;
    padding: 0px;
    margin: 0px;
}
ul.banner-user-status-holder > li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    font-size: 12px;
    font-weight: 300;
}
.banner-controller-block {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    height: 80px;
}
.banner-controller-holder {
    display: flex;
    display: -webkit-flex;
    align-items: baseline;
    -webkit-align-items: baseline;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    position: relative;
    margin-top: -104px;
}
.banner-controller-inner-block > ul {
    padding: 0px;
    list-style: none;
}
.banner-controller-inner-block > ul > li {
    display: inline-block;
}

.banner-controller-inner-block > ul > li > a {
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: block;
    padding: 0px 25px;
    transition: 0.3s;
}
.banner-controller-inner-block > ul > li > a.active,
.banner-controller-inner-block > ul > li > a:hover {
    color: var(--main-blue-color);
    transition: 0.3s;
}
.banner-controller-inner-block > ul > li i {
    font-size: 12px;
}
.banner-user-image-block {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid #fff;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin: 0px auto 15px auto;
}
.banner-controller-inner-block.one, .banner-controller-inner-block.two, .banner-user-block {
    display: inline-block;
}
img.user-flag {
    position: absolute;
    width: 42px;
    bottom: -13px;
    left: 50%;
}
p.banner-username {
    color: var(--main-blue-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: block;
    padding: 0px 15px;
    text-transform: capitalize;
    text-align: center;
    margin: 0px;
}
p.banner-usertitle {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    color: var(--main-blue-color);
    margin: 0px;
}
.banner-controller-shade {
    background: linear-gradient(to top, #fff, rgba(255,255,255,0) 80%);
    height: 60px;
    width: 100%;
    position: absolute;
    top: -60px;
}
/*profile ends*/

/*profile body*/
.profile-body-block {
    margin-top: 100px;
}
.profle-left {
    width: 291px;
    float: left;
    min-height: 1px;
}
.profle-right {
    width: 291px;
    float: left;
    min-height: 1px;
}
.profle-center {
    width: 548px;
    float: left;
    min-height: 1px;
    margin-left: 20px;
    margin-right: 20px;
}
/*profile body*/

/*timeline*/
#timeline_filter_card {
    padding: 20px;
}
.filter-block {
    border: 1px solid #0b1247;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    border-radius: 40px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
span.filter-by-toggle {
    background-color: #0b1247;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 300;
}
input.filter-field {
    width: 40%;
    display: block;
    padding: 5px;
    border: none;
}
.filter-block > i {
    position: relative;
    left: 18px;
    color: #54597e;
    font-size: 20px;
}
button.filter-button {
    color: #0b1247;
    border: none;
    display: block;
    padding: 8px;
    position: relative;
    top: 0px;
    background: none;
    font-weight: 500;
    right: 25px;
}
span.filter-by-toggle:hover {
    cursor: pointer;
}

.filter-items-block {
    width: 475px;
    margin: auto;
}
.filter-items-block > ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    background-color: #0b1247;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 200;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
.filter-items-block > ul > li {
    display: inline-block;
    padding: 10px 10px;
    color: #8589a3;
    transition: 0.3s;
}
.filter-items-block > ul > li:hover,
.filter-items-block > ul > li.active {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.filter-items-block > ul > li > span.orderby-icon-block {
    display: inline-block;
    margin-left: 5px;
}
.profle-center > .white-box {
    margin-bottom: 20px;
    padding: 20px;
}
.publish-user-img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.publish-user-img, ul.publish-type {
    display: inline-block;
}
ul.publish-type {
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin-left: 10px;
}
.publish-user-img, ul.publish-type {
    display: inline-block;
}
ul.publish-type > li {
    display: inline-block;
    padding: 10px;
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
ul.publish-type > li > a {
    color: #0b1247;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.publish-top {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    margin-bottom: 20px;
}
textarea.publish-write {
    border: none;
    resize: none;
    width: 100%;
    height: 60px !important;
    max-width: 100%;
    min-width: 100%;
    min-height: 40px;
    max-height: 100px;
    border-bottom: 1px solid #8588a3;
    padding: 30px 0px 0px 0px;
    outline: none !important;
}
textarea.publish-write::-webkit-scrollbar {
    display: none;
}
textarea.publish-write::placeholder {
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}


.ui-checkbox {
    display: none;
}
.ui-checkbox + label {
    position: relative;
    padding-left: 25px;
    display: inline-block;
    font-size: 12px;
    height: 44px;
}
.ui-checkbox + label:before {
    background-color: #fff;
    border: 2px solid #0b1247;    
    padding: 20px;
    border-radius: 0px;
    display: block;
    position: absolute;
    top: 0;
    left:0;
    content: "";
}
.ui-checkbox:checked + label:before {
    border: 2px solid #0b1247;    
    color: #99a1a7;
}
.ui-checkbox.no-border:checked + label:before {
    border-color: transparent;
}
.ui-checkbox:checked + label:after {
    content: '\2714';
    font-size: 26px;
    position: absolute;
    top: 3px;
    left: 11px;
    color: #0b1247;
    font-weight: 100;
}
.ui-checkbox.green-tick:checked + label:after {
    color: #0b1247;
}
.publish-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.timer-check-block {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.checkbox-holder {
    width: 44px;
    height: 44px;
}
.checkbox-holder > label {
    width: 44px;
    height: 40px;
}
.checkbox-content-holder {
    margin-left: 10px;
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    position: relative;
    top: 2px;
}
span.post-date {
    color: #283074;
    font-weight: 400;
}
.publish-bottom {
    margin-top: 14px;
}
.post-button-block > button {
    border: none;
    padding: 11px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 100px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
button.timer-btn {
    background-color: #78909c;
    margin-right: 5px;
}
button.post-btn {
    background-color: #0b1247;
}

.user-img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.user-published-block > p {
    display: inline-block;
    padding: 10px;
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    line-height: 1;
}
.user-published-block > p > a {
    color: #0b1247;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
.user-published-block > p > span {
    color: #0b1247;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.user-published-on-block {
    display: inline-block;
    padding: 10px;
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    width: 100%;
    font-style: italic;
    padding: 0px;
    margin: 0px;
    line-height: 1;
    position: relative;
    top: 4px;
}
p.post-publish-time-block, p.post-expire-time-block {
    display: inline-block;
}
p.post-publish-time-block {
    text-align: left;
    float: left;
    padding: 0px;
    margin: 0px;
    line-height: 1;
}
p.post-expire-time-block {
    text-align: right;
    float: right;
    padding: 0px;
    margin: 0px;
    line-height: 1;
}
.user-img-block,
.user-post-right {
    display: inline-block;
}
.user-block {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    margin-bottom: 20px;
}
.user-img-block {
    margin-right: 10px;
}
.user-post-right {
    width: 100%;
}
.post-content {
    display: inline-block;
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0px 0px 5px 0px;
    margin: 0px;
    line-height: 1.4;
    border-bottom: 1px solid #8588a3;
}
.post-content > p {
    margin: 0px;
}
a.read-more-post {
    color: #0b1247;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
}
span.big-o {
    font-size: 22px;
}
span.all-caps {
    text-transform: uppercase;
}
.post-content-block {
    margin-bottom: 20px;
}
.post-like img {
    width: auto;
    height: 28px;
}
.post-liked-users-img-block {
    padding: 0px;
    margin: 0px 20px 0px 0px;
    list-style: none;
    display: inline-block;
}
.post-liked-users-img-block li {
    display: inline-block;
    position: relative;
}
.post-liked-users-img-block img {
    width: 32px;
}
.post-liked-users-img-block li:nth-child(6) {
    z-index: 0;
    margin-left: -16px;
    opacity: 0.9;
}
.post-liked-users-img-block li:nth-child(5) {
    z-index: 1;
    margin-left: -16px;
    opacity: 0.6;
}
.post-liked-users-img-block li:nth-child(4) {
    z-index: 2;
    margin-left: -16px;
    opacity: 0.7;
}
.post-liked-users-img-block li:nth-child(3) {
    z-index: 3;
    margin-left: -16px;
    opacity: 0.8;
}
.post-liked-users-img-block li:nth-child(2) {
    z-index: 4;
    margin-left: -16px;
    opacity: 0.9;
}
.post-liked-users-img-block li:nth-child(1) {
    z-index: 5;
}
.post-liked-users-img-block img {
    width: 32px;
    border: 1px solid var(--main-gray-color);
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.post-like {
    position: relative;
    margin-right: 30px;
}
.post-like img:hover,
.post-like-count:hover,
.other-liked:hover {
    cursor: pointer;
}
.post-like-count {
    position: absolute;
    top: -5px;
    right: -10px;
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    line-height: 1;
}
.post-who-liked {
    display: inline-block;
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    line-height: 1.3;
}
.post-who-liked p {
    margin: 0px;
}
.post-who-liked a {
    color: #0b1247;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
ul.post-liked-users-img-block, .post-who-liked {
    float: left;
}
.post-like-block {
    display: flex;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    justify-content: space-between;
}
.post-like-block > div {
    display: flex;
    display: flex;
    align-items: center;
    align-items: center;
}
img.post-comment-icon,
img.post-share-icon {
    width: auto;
    height: 26px;
    position: relative;
}
img.post-comment-icon:hover,
img.post-share-icon:hover {
    cursor: pointer;
}
img.post-comment-icon {
    left: -30px;
}
img.post-share-icon {
    left: -20px;
}
img.post-link-thimbnail {
    width: 100%;
}
.post-comment-block {
    margin-right: 30px;
}
.post-liked-users-block {
    margin-right: 50px;
}
.post-options-btn-block {
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 1;
    font-size: 8px;
    color: #8588a3;
}
.post-options-btn-block:hover {
    cursor: pointer;
}
.post-link-thumbnail-block {
    position: relative;
}
.post-link-thimbnail-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #ec7877;
}
.post-link-thumbnail-block, .post-link-title-block {
    width: 50%;
    float: left;
    border-top: 2px solid #c2c2c2;
    border-bottom: 2px solid #c2c2c2;
    height: 140px;
    overflow: hidden;
}
.post-link-thumbnail-block {
    border-left: 2px solid #c2c2c2;
    border-right: 2px solid #c2c2c2;
}
.post-link-title-block {
    border-right: 2px solid #c2c2c2;
    padding: 20px;
    position: relative;
}
.post-link-title h3 {
    margin: 0px;
    padding: 0px;
    line-height: 1.3;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8588a3;
}
.post-link-reference {
    position: absolute;
    bottom: 3px;
    left: 4px;
    line-height: 1;
}
.post-link-reference p {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 300;
}
.post-link-reference p a {
    color: #8588a3;
}
.post-link-content {
    display: inline-block;
    width: 100%;
}
.post-link {
    margin-bottom: 9px;
}
.post-comment, .post-share {
    position: relative;
}
.post-comment-count, .post-share-count {
    position: absolute;
    top: -10px;
    right: 0px;
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    line-height: 1;
}
.post-comment-count:hover,
.post-share-count:hover {
    cursor: pointer;
}
img.video-play-thumbnail-icon {
    width: 64px;
}
.post-photo-content,
.post-service-content {
    border: 2px solid #c2c2c2;
    position: relative;
}
.post-photo,
.post-service {
    margin-bottom: 14px;
}
.post-photo-zoom-trigger,
.post-service-zoom-trigger {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 32px;
}
.post-photo-zoom-trigger:hover,
.post-service-zoom-trigger:hover {
    cursor: pointer;
}
.post-photo-message,
.post-service-message {
    display: inline-block;
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0px;
    margin: 0px 0px 20px 0px;
}
.post-photo-message p,
.post-service-message p {
    margin: 0px;
}
span.post-service-description-dynamic {
    color: #0b1247;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
p.post-service-price-block {
    color: #0b1247;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
span.post-service-price {
    font-size: 18px;
    text-transform: none;
    font-weight: 500;
}
.post-service-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
}
a.post-service-buy-button {
    background-color: #4caf50;
    color: #fff;
    display: block;
    padding: 10px 30px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0px;
    font-weight: 400;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.comment-block {
    background-color: #eceff1;
    margin: 20px -20px -20px -20px;
    padding: 0px 20px 20px 20px;
    border-top: 1px solid #8588a3;
    margin-top: 20px;
}
.comment-block ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border-left: 1px solid #c3c6d2;
    border-bottom: 1px solid #c3c6d2;
}
.comment-block ul li {
    display: block;
    padding: 20px 20px;
    position: relative;
}
.comment-block .user-img {
    border: 1px solid var(--main-gray-color);
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.comment-block .user-post-right {
    width: auto;
}
p.comment {
    margin: 0px;
}
.commenter-msg-block {
    display: inline-block;
    width: 100%;
}
.comment-holder {
    width: auto;
    float: left;
}
.negotiation-block {
    width: 25%;
    float: right;
}
input.negotiation-value {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    text-align: right;
    border: 1px solid #c3c6d2;
    display: block;
    padding: 10px 10px;
    color: #8588a3;
    line-height: 1;
}
input.negotiation-value::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #8588a3;
    line-height: 1;
}
p.comment {
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    line-height: 1.45;
    text-align: left;
}
.comment-react-block {
    display: inline-block;
    width: 100%;
    padding: 20px 0px;
}
.comment-react-block .post-like {
    display: inline-block;
    width: auto;
}
.comment-react-block .post-reply {
    margin: 10px 0px 0px 0px;
    display: inline-block;
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    padding: 0px;
    line-height: 1.4;
    letter-spacing: 0.75px;
}
.comment-react-block .post-reply:hover {
    cursor: pointer;
}
ul.comment-child {
    border-top: 1px solid #c3c6d2;
}
ul.comment-child li{
    border-bottom: 1px solid #c3c6d2;
}
a.user-mention {
    color: #0b1247;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
.reply-now-block {
    display: inline-block;
    width: 100%;
    padding: 0px 20px 20px 20px;
    border-bottom: 1px solid #c3c6d2;
}
.reply-now-block .user-img-block {
    margin-right: 0px;
}
.reply-now-message-block {
    display: inline-block;
    float: right;
    width: 88%;
    position: relative;
}
textarea.reply-now-message {
    width: 100%;
    min-height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #c3c6d2;
    display: block;
    padding: 10px 10px;
    color: #8588a3;
    line-height: 1;
}
textarea.reply-now-message::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #8588a3;
    line-height: 1;
}
.reply-attach-image-block {
    width: 28px;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.75;
}
.view-more-comments-block {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
.view-more-comments-block a {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: #78909c;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.45;
}
.sidebar-box-content-holder {
    padding: 0px 20px;
}
.sidebar-box-content {
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #8588a3;
    margin: 0px 0px 20px 0px;
    display: inline-block;
    width: 100%;
}
.sidebar-box-content:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}
.sidebar-content-desc-block {
    margin: 10px 0px 0px 0px;
    display: inline-block;
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    padding: 0px;
    line-height: 1.3;
    width: 100%;
}
.sidebar-content-desc-block p {
    margin: 0px;
}
ul.skills-ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: inline-block;
    width: 100%;
}
ul.skills-ul > li > a {
    display: block;
    background-color: #cfd8dc;
    padding: 5px 10px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px;
    text-transform: capitalize;
    color: var(--main-blue-color);
    font-weight: 400;
}
span.skill-endorsement-count {
    background-color: #f5f5f5;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    margin: -2px -6px -2px 3px;
    font-size: 10px;
}
ul.skills-ul > li {
    display: inline-block;
    float: left;
    margin: 0px 10px 7px 0px;
}
.sidebar-view-more-block > a {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
    color: var(--main-blue-color);
    font-weight: 400;
    text-align: center;
    display: block;
    padding: 10px;
    margin: -10px 0px;
}
.sidebar-view-more-block > a > i {
    margin-left: 5px;
}
ul.experience-ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin: 0px 0px 5px 0px;
}
ul.experience-ul > li {
    display: block;
}
ul.experience-ul > li > a {
    margin: 0px 0px 5px 0px;
    display: inline-block;
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    padding: 0px;
    line-height: 1.3;
}
span.experience-time {
    display: block;
}
ul.professional-interests-ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: inline-block;
    width: 100%;
}
ul.professional-interests-ul > li {
    display: inline-block;
    float: left;
    margin: 0px 7px 7px 0px;
}
ul.professional-interests-ul > li > a {
    display: inline-block;
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    padding: 0px;
    line-height: 1.3;
}
ul.share-profile-ul {
    padding: 0px;
    margin: 0px 0px 10px 0px;
    list-style: none;
    display: inline-block;
    width: 100%;
}
ul.share-profile-ul > li {
    display: inline-block;
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    padding: 0px;
    line-height: 1.3;
    margin: 0px 5px 0px 0px;
}
ul.share-profile-ul > li > a {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    color: #fff;
    width: 42px;
    height: 42px;
    font-size: 18px;
}
.fb {
    background-color: #4e71a8;
}
.twitter {
    background-color: #1cb7eb;
}
.gplus {
    background-color: #e3411f;
}
.linkedin {
    background-color: #087fab;
}

.reviewer.user-block > .user-post-right .user-published-block > p {
    color: #0b1247 !important;
    font-weight: 400 !important;
    text-transform: capitalize;
}
.reviewer.user-block {
    margin-bottom: 0px;
}
.rating-block {
    display: inline-block;
    padding: 5px 0px;
    color: #ffb901;
    font-size: 14px;
}
.reviewer-name {
    font-weight: 500;
    display: inline-block;
    width: 100%;
    padding: 0px 0px 5px 0px;
}
.sidebar-gallery-item {
    display: inline-block;
    width: 33.33%;
    float: left;
    padding: 2px;
    background-color: #fff;
    transition: 0.3s;
}
.sidebar-gallery-item:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    transition: 0.3s;
}
.sidebar-gallery-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    overflow: hidden;
}
img.sidebar-gallery-img {
    max-width: none;
    height: 100%;
}
.sidebar-gallery-block {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

tr.calendar-month-header td {
    text-align: center;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--main-blue-color);
}
tr.calendar-dow td {
    text-align: center;
    height: 30px;
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0px 0px 5px 0px;
}
span.badge.badge-today {
    background-color: #5b629a;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    margin: auto;
}
span.badge.badge-event {
    background-color: #FFCA28;
    width: 25px;
    height: 25px;
    border-radius: 0%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    margin: auto;
}
.table-bordered {
    border: none;
}

.sidebar-top-projects-block ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: inline-block;
    width: 100%;
}
.sidebar-top-projects-block ul li {
    display: inline-block;
    padding: 10px 10px;
    margin: 0px -10px;
    transition: 0.3s;
}
.sidebar-top-projects-block ul li:hover {
    background-color: #f5f5f5;
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    transition: 0.3s;
}
.project-thumbnail {
    width: 80px;
    height: 80px;
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sidebar-project-content-holder {
    display: inline-block;
    width: 68%;
    float: right;
    padding: 0px 5px;
}
p.sidebar-project-title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
    color: var(--main-blue-color);
    font-weight: 500;
    line-height: 1;
}
.sidebar-top-projects-block .rating-block {
    line-height: 1;
    padding: 0px 0px;
}
p.sidebar-content-desc.project-desc {
    margin: 1px 0px 0px 0px;
    color: #8588a3;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    padding: 0px;
    line-height: 1.3;
    width: 100%;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/*timeline*/